<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css">
    <link href="https://fonts.googleapis.com/css?family=Exo+2:400,800|Roboto+Slab" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/binaryjs/0.2.1/binary.min.js"></script>
    <link rel="shortcut icon" href="" style="border-width: medium;" type="image/png"/><title>abcd</title>
    <link rel="stylesheet" href="home.css">

    
  </head>
  <body style="height:100%;overflow-y: auto;">
   
   <div class="wrapper">
   	
   	<div class="content" style="width:100%">
   		<nav class="navbar navbar-expand-lg navbar-light bg-light">
   		
   
   		
  <!--<a class="navbar-brand" href="#">Navbar</a> -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="container-fluid ">
        <div class="navbar-header">
          <img src="logo.jpg"class="navbar-brand" height=30px width=30px style="margin:0 auto;">
            <a class="navbar-brand" href="/">Minute Maker</a>
        </div>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="nav navbar-nav mr-auto">
              <li class="nav-item active">
                  <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item active">
                  <a class="nav-link" href="/profile">Profile</a>
              </li>
              
            </ul>
            <ul class="nav navbar-nav ml-auto">
              
         
              
  	
  
   