<% include partials/header.ejs %>
<% include partials/middle.ejs %>

<div class="container-fluid">
    
        <div class="col-md-3" >
            <h6>Eventname : <span id="viewproblemcode"></span></h6>

       
</div>
    <div class ="container-fluid">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5"> 
                <input type="email" cols="20" id="emailtosend" class="form-control" placeholder="enter emailid"></input></div>
                <div class="col-md-1">
         <button type="button" class="btn btn-primary"  id="sendmailmine">send</button>
        </div>

        </div>
        <form>
            <div class="container timepass" style="padding-top: 2%">
                <div class="row container">
                        <div class="col-md-1">          
                    
                            </div>
                        <span>Speech To Text</span> 
                    <div class="col-md-5">          
                    
                    </div>
                    
                    <span>Summarization</span>                  
                </div>
                
            
            
            <textarea name="viewinputarea" class="editor" disabled row="50000" col="5000" style="top: 10%;right: 0;bottom: 0;left: 0;height:400px;width: 45%;" id="viewInputArea">
             </textarea>
             
            <textarea name="viewoutputarea" row="50000" col="5000" style="top: 10%;
            right: 0;
            bottom: 0;
            left: 0;
            height:400px;
            width: 45%;padding-left: 5px;background-color: black;
              color: white;" disabled id="viewOutputArea"></textarea>
              </div>
              
        </form>
        </div>
</div>
</div>
<script>
        var user = <%- JSON.stringify(CurrentUser) %>;
           console.log(user);
           var eventname =<%-JSON.stringify(eventname) %>;
       console.log(eventname);
           var problemarray = user.datastore;
           console.log(problemarray);
           problemarray.forEach(function(problem){
               if(problem.name==eventname){
                   $('#viewInputArea').val(problem.desp);
                   $('#viewOutputArea').val(problem.context);
                   $('#viewproblemcode').append(problem.name);
                   
               }
           });
       
    
$('#sendmailmine').on("click",function(){

$.ajax({
url:location.origin+"/api/data/mail?email="+$('#emailtosend').val()+"&summarydata="+$("textarea[name='viewoutputarea']").val(),
type:"GET",
dataType: 'json',
data:{},
headers: {
'Content-Type':'application/json' 
},
success:function(data) {
  console.log(data);
   
}
}
);
alert('Mail sent');

})
   
       
       </script>
       





<% include partials/footer.ejs %>